body{ 
    background-color: pink(241, 185, 195);
}
.container{
    margin: 50px auto;
    background-color: lightpink;
    border-radius: 20px;
    padding: 10px;
    width: 600px;
    justify-content: center;
    display: flex;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
#Título{
    color: white (161, 52, 161);
    justify-content: center;
    display: flex;
    font-family: brush script mt, brush script std, cursive;
    font-size: 60px;
}
#Título2{
    color: plum(219, 63, 206);
    justify-content: center;
    display: flex;
    font-family: URW Chancery L, cursive;
}
.fundoazul{
    color: orchid;
    justify-content: center;
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
